<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <title>{% block title %}新航道澳洲学校官网{% endblock %}</title>
    <link rel="shortcut icon" href="/static/xhd/favicon.ico">
    {% block headcss %}
    <link href="/static/css/bootstrap-flex.css" rel="stylesheet">
    <link href="/static/css/font-awesome.css" rel="stylesheet">
    <style>
        nav   { padding: 0.5rem; }
        nav ul{ font-size: 0.9rem; }
    </style>    
    {% endblock %}
    {% block headjs %}
    <script src="/static/js/jquery-3.1.1.min.js"></script>
    <script src="/static/js/tether.min.js"></script>
    <script src="/static/js/bootstrap4.js"></script>
    <script src="/static/js/vue.js"></script>
    {% endblock %}
</head>
<body>
    <header>
        <nav class="navbar navbar-light">
            <a class="navbar-brand" href="#">
                <img src="/static/xhd/logo.png" height="23rem" alt="">
            </a>       
            <ul class="nav navbar-nav float-xs-right">
                <li class="nav-item active"><a class="nav-link" href="#">培训</a></li>
                <li class="nav-item active"><a class="nav-link" href="#">游学</a></li>
                <li class="nav-item active"><a class="nav-link" href="#">留学</a></li>
                <li class="nav-item dropdown active">
                <a class="nav-link dropdown-toggle" href="#"
                id="supportedContentDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">更多</a>
                <div class="dropdown-menu" aria-labelledby="supportedContentDropdown" id="nav-dropdown" style="left:-50%;min-width: 1rem;">
                    <a class="dropdown-item" href="#">移民</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#">房产</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#">动态</a>
                </div>
                </li>
            </ul>
        </nav>
    </header>
    <section class="jumbotron jumbotron-fluid" id="frist-jumbotron">
        <div class="container">
            <div id="junmbotro-content">
            <h5>新航道喊你去游学啦!</h5>
            <br/>
            <p class="small">个性化定制，多种选择<br/>新航道澳洲公司全程贴身服务<br/>
            马术、网球、高尔夫超豪华可选课程配置<br/>给孩子难忘的澳洲假期！</p>
            <hr class="my-1">
            <p class="small">咨询热线电话：010-82533761</p>
            <p class="lead">
                <a class="btn btn-primary btn-xs" href="#" role="button" id="registry">立即预订</a>
            </p>
            </div>
        </div>
    </section>
    <section id="advantage">
        <div id="carousel-example-generic" class="carousel slide" data-ride="carousel" style="padding-bottom:1rem;">
            <ol class="carousel-indicators">
                <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                <li data-target="#carousel-example-generic" data-slide-to="1"></li>               
            </ol>
            <div class="carousel-inner" role="listbox">
                <div class="carousel-item active">
                    <div class="media flex-items-xs-middle flex-items-xs-center" >
                        <div style="margin-right:1rem">
                            <a href="#"><img class="media-object rounded-circle" src="static/xhd/hm.jpg" alt="胡敏" width="64rem"></a>
                        </div>
                        <div>
                            <a href="#"><h4 class="media-heading quote-header">胡敏 教授</h4>
                            <span style="color:#b8c1c8;">新航道总裁兼校长</span></a>                       
                        </div>
                    </div>
                    <div class="media">
                        <i class="fa fa-quote-left fa-2x" style="color:#677077"></i>
                        <blockquote class="bquote">新航道澳洲学校总部设在澳大利亚墨尔本，新航道员工全程随行，随时解决孩子问题，保障出行安全</blockquote>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="media flex-items-xs-middle flex-items-xs-center" >
                        <div style="margin-right:1rem">
                            <a href="#"><img class="media-object rounded-circle" src="static/xhd/mjx.jpeg" alt="马婧璇" width="64rem"></a>
                        </div>
                        <div  >
                            <a href="#"><h4 class="media-heading quote-header">马婧璇</h4>
                            <span style="color:#b8c1c8;">新航道澳洲学校校长</span></a>                        
                        </div>
                    </div>
                    <div class="media">
                        <i class="fa fa-quote-left fa-2x"></i>
                        <blockquote class="bquote">新航道澳洲游学线路可选网球、马术和高尔夫球项目，更丰富的游学内容，给孩子一个不一样的寒假</blockquote>
                    </div>
                </div>
                
            </div>
            <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
                <span class="icon-prev" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
                <span class="icon-next" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
        <div class="media four-factors flex-items-xs-center">
            <div class="media">
                <a class="media-left media-middle" href="#">
                    <span class="media-object" id="factor1"></span>
                </a>
                <div class="media-body">
                    <h5 class="media-heading">理念</h4>
                    <span>以实际需求为前提，量身策划合适产品</span>
                </div>
            </div>
            <div class="media">
                <a class="media-left media-middle" href="#">
                    <span class="media-object" id="factor2"></span>
                </a>
                <div class="media-body">
                    <h5 class="media-heading">宗旨</h4>
                    <span>行程可以复制，品质不可超越</span>
                </div>
            </div>
        </div>
        <div class="media four-factors flex-items-xs-center">
            <div class="media">
                <a class="media-left media-middle" href="#">
                    <span class="media-object" id="factor3"></span>
                </a>
                <div class="media-body">
                    <h5 class="media-heading">使命</h4>
                    <span>提供优质服务，帮助孩子成长</span>
                </div>
            </div>
            <div class="media">
                <a class="media-left media-middle" href="#">
                    <span class="media-object" id="factor4"></span>
                </a>
                <div class="media-body">
                    <h5 class="media-heading">愿景</h4>
                    <span>给孩子一个有意义的假期</span>
                </div>
            </div>
        </div>

    </section>
    <section id="itinerary">
        <h4>游学路线方案选择</h4>
        <div id="accordion" role="tablist" aria-multiselectable="true">
            <div class="card">
                <div class="card-header" role="tab" id="headingOne">
                <h5 class="mb-0">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                    行程安排（基础路线）
                    </a>
                </h5>
                </div>

                <div id="collapseOne" class="collapse in" role="tabpanel" aria-labelledby="headingOne">
                    <div class="card-block">
                        <ul class="list-unstyled">
                            <li>
                                <span>DAY1</span>
                                <span>飞往墨尔本，开启游学之旅</span>
                            </li>
                            <li>
                                <span>DAY2</span>
                                <span>参观墨尔本旧监狱，游览丹顿农山脉国家公园</span>
                            </li>
                            <li>
                                <span>DAY3</span>
                                <span>淘金镇一日游</span>
                            </li>
                            <li>
                                <span>DAY4</span>
                                <span>马术体验课</span>
                            </li>
                            <li>
                                <span>DAY5</span>
                                <span>参观著名大学，漫步圣基达尔海滩</span>
                            </li>
                            <li>
                                <span>DAY6</span>
                                <span>参观著名大学和世界最大图书馆之一：维多利亚州立图书馆</span>
                            </li>
                            <li>
                                <span>DAY7</span>
                                <span>抵达悉尼，游览悉尼歌剧院、海港大桥，漫步皇家植物园</span>
                            </li>
                            <li>
                                <span>DAY8</span>
                                <span>领略博物馆奇妙之旅，赴悉尼水族馆观赏12000种海洋生物</span>
                            </li>
                            <li>
                                <span>DAY9</span>
                                <span>语言课程开始，墨尔本市区景点游览</span>
                            </li>
                            <li>
                                <span>DAY10</span>
                                <span>语言课程，墨尔本市区游览</span>
                            </li>
                            <li>
                                <span>DAY11</span>
                                <span>语言课程，墨尔本市区游览</span>
                            </li>
                            <li>
                                <span>DAY12</span>
                                <span>语言课程，墨尔本市区游览</span>
                            </li>
                            <li>
                                <span>DAY13</span>
                                <span>语言课程毕业典礼</span>
                            </li>
                            <li>
                                <span>DAY14</span>
                                <span>游览绝美大洋路</span>
                            </li>
                            <li>
                                <span>DAY15</span>
                                <span>游览皇家植物园，维多利亚市场，回国</span>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header" role="tab" id="headingTwo">
                <h5 class="mb-0">
                    <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                    网球达人游学线路
                    </a>
                </h5>
                </div>
                <div id="collapseTwo" class="collapse" role="tabpanel" aria-labelledby="headingTwo">
                    <div class="card-block">
                        <ul class="list-unstyled">
                            <li>
                                <span>DAY1</span>
                                <span>飞往墨尔本，开启游学之旅</span>
                            </li>
                            <li>
                                <span>DAY2</span>
                                <span>参观澳网比赛场地，变身网球达人</span>
                            </li>
                            <li>
                                <span>DAY3</span>
                                <span>网球训练，墨尔本市区景点游览</span>
                            </li>
                            <li>
                                <span>DAY4</span>
                                <span>网球训练，墨尔本市区景点游览</span>
                            </li>
                            <li>
                                <span>DAY5</span>
                                <span>网球训练，墨尔本市区景点游览</span>
                            </li>
                            <li>
                                <span>DAY6</span>
                                <span>参观著名大学和世界最大图书馆之一：维多利亚州立图书馆</span>
                            </li>
                            <li>
                                <span>DAY7</span>
                                <span>抵达悉尼，游览悉尼歌剧院、海港大桥，漫步皇家植物园</span>
                            </li>
                            <li>
                                <span>DAY8</span>
                                <span>领略博物馆奇妙之旅，赴悉尼水族馆观赏12000种海洋生物</span>
                            </li>
                            <li>
                                <span>DAY9</span>
                                <span>语言课程开始，墨尔本市区景点游览</span>
                            </li>
                            <li>
                                <span>DAY10</span>
                                <span>语言课程，墨尔本市区游览</span>
                            </li>
                            <li>
                                <span>DAY11</span>
                                <span>语言课程，墨尔本市区游览</span>
                            </li>
                            <li>
                                <span>DAY12</span>
                                <span>语言课程，墨尔本市区游览</span>
                            </li>
                            <li>
                                <span>DAY13</span>
                                <span>语言课程毕业典礼</span>
                            </li>
                            <li>
                                <span>DAY14</span>
                                <span>游览绝美大洋路</span>
                            </li>
                            <li>
                                <span>DAY15</span>
                                <span>游览皇家植物园，维多利亚市场，回国</span>
                            </li>
                        </ul>	
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header" role="tab" id="headingThree">
                <h5 class="mb-0">
                    <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                    马背上的游学线路
                    </a>
                </h5>
                </div>
                <div id="collapseThree" class="collapse" role="tabpanel" aria-labelledby="headingThree">
                    <div class="card-block">
                        <ul class="list-unstyled">
                            <li>
                                <span>DAY1</span>
                                <span>飞往墨尔本，开启游学之旅</span>
                            </li>
                            <li>
                                <span>DAY2</span>
                                <span>马术学习，墨尔本市区景点游览</span>
                            </li>
                            <li>
                                <span>DAY3</span>
                                <span>马术学习，墨尔本市区景点游览</span>
                            </li>
                            <li>
                                <span>DAY4</span>
                                <span>马术学习，墨尔本市区景点游览</span>
                            </li>
                            <li>
                                <span>DAY5</span>
                                <span>马术学习，墨尔本市区景点游览</span>
                            </li>
                            <li>
                                <span>DAY6</span>
                                <span>参观著名大学和世界最大图书馆之一：维多利亚州立图书馆</span>
                            </li>
                            <li>
                                <span>DAY7</span>
                                <span>抵达悉尼，游览悉尼歌剧院、海港大桥，漫步皇家植物园</span>
                            </li>
                            <li>
                                <span>DAY8</span>
                                <span>领略博物馆奇妙之旅，赴悉尼水族馆观赏12000种海洋生物</span>
                            </li>
                            <li>
                                <span>DAY9</span>
                                <span>语言课程开始，墨尔本市区景点游览</span>
                            </li>
                            <li>
                                <span>DAY10</span>
                                <span>语言课程，墨尔本市区游览</span>
                            </li>
                            <li>
                                <span>DAY11</span>
                                <span>语言课程，墨尔本市区游览</span>
                            </li>
                            <li>
                                <span>DAY12</span>
                                <span>语言课程，墨尔本市区游览</span>
                            </li>
                            <li>
                                <span>DAY13</span>
                                <span>语言课程毕业典礼</span>
                            </li>
                            <li>
                                <span>DAY14</span>
                                <span>游览绝美大洋路</span>
                            </li>
                            <li>
                                <span>DAY15</span>
                                <span>游览皇家植物园，维多利亚市场，回国</span>
                            </li>
                        </ul>	
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header" role="tab" id="headingFour">
                <h5 class="mb-0">
                    <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                    商务精英高尔夫游学线路
                    </a>
                </h5>
                </div>
                <div id="collapseFour" class="collapse" role="tabpanel" aria-labelledby="headingFour">
                    <div class="card-block">
                        <ul class="list-unstyled">
                            <li>
                                <span>DAY1</span>
                                <span>飞往墨尔本，开启游学之旅</span>
                            </li>
                            <li>
                                <span>DAY2</span>
                                <span>高尔夫学习，墨尔本市区景点游览</span>
                            </li>
                            <li>
                                <span>DAY3</span>
                                <span>高尔夫学习，墨尔本市区景点游览</span>
                            </li>
                            <li>
                                <span>DAY4</span>
                                <span>高尔夫学习，墨尔本市区景点游览</span>
                            </li>
                            <li>
                                <span>DAY5</span>
                                <span>高尔夫学习，墨尔本市区景点游览</span>
                            </li>
                            <li>
                                <span>DAY6</span>
                                <span>参观著名大学和世界最大图书馆之一：维多利亚州立图书馆</span>
                            </li>
                            <li>
                                <span>DAY7</span>
                                <span>抵达悉尼，游览悉尼歌剧院、海港大桥，漫步皇家植物园</span>
                            </li>
                            <li>
                                <span>DAY8</span>
                                <span>领略博物馆奇妙之旅，赴悉尼水族馆观赏12000种海洋生物</span>
                            </li>
                            <li>
                                <span>DAY9</span>
                                <span>语言课程开始，墨尔本市区景点游览</span>
                            </li>
                            <li>
                                <span>DAY10</span>
                                <span>语言课程，墨尔本市区游览</span>
                            </li>
                            <li>
                                <span>DAY11</span>
                                <span>语言课程，墨尔本市区游览</span>
                            </li>
                            <li>
                                <span>DAY12</span>
                                <span>语言课程，墨尔本市区游览</span>
                            </li>
                            <li>
                                <span>DAY13</span>
                                <span>语言课程毕业典礼</span>
                            </li>
                            <li>
                                <span>DAY14</span>
                                <span>游览绝美大洋路</span>
                            </li>
                            <li>
                                <span>DAY15</span>
                                <span>游览皇家植物园，维多利亚市场，回国</span>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="itinerary-business">
        <h4>商务定制路线</h4>
        <div id="accordion2" role="tablist" aria-multiselectable="true">
            <div class="card">
                <div class="card-header" role="tab" id="headingOne2">
                <h5 class="mb-0">
                    <a data-toggle="collapse" data-parent="#accordion2" href="#collapseOne2" aria-expanded="true" aria-controls="collapseOne2">
                    澳洲商务团1
                    </a>
                </h5>
                </div>

                <div id="collapseOne2" class="collapse in" role="tabpanel" aria-labelledby="headingOne2">
                    <div class="card-block">
                        <ul class="list-unstyled">
                            <li>
                                <span>DAY1</span>
                                <span>飞往墨尔本</span>
                            </li>
                            <li>
                                <span>DAY2</span>
                                <span>到达墨尔本，入住Crown或者喜来登酒店，调整休息，参观市区</span>
                            </li>
                            <li>
                                <span>DAY3</span>
                                <span>市区景点：大学参观（墨尔本大学，莫纳什大学等）；市区景点包括尤里卡观景平台、国会大厦、科技馆等，根据客户需求确定</span>
                            </li>
                            <li>
                                <span>DAY4</span>
                                <span>墨尔本 • 大洋路一日游</span>
                            </li>
                            <li>
                                <span>DAY5</span>
                                <span>企鹅岛一日游</span>
                            </li>
                            <li>
                                <span>DAY6</span>
                                <span>维多利亚市场参观，品尝当地美食，当地商场、免税店购买伴手礼</span>
                            </li>
                            <li>
                                <span>DAY7</span>
                                <span>以房养学讲座，如何规避汇率风险，如何投资澳洲，参观地产项目</span>
                            </li>
                            <li>
                                <span>DAY8</span>
                                <span>企业参观，了解投资移民政策，提供免费咨询服务</span>
                            </li>
                            <li>
                                <span>DAY9</span>
                                <span>了解澳洲教育政策及教育资源优势，参观当地中学、大学</span>
                            </li>
                            <li>
                                <span>DAY10</span>
                                <span>根据时间安排市区景点，返回中国</span>
                            </li>                            
                        </ul>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header" role="tab" id="headingTwo2">
                <h5 class="mb-0">
                    <a class="collapsed" data-toggle="collapse" data-parent="#accordion2" href="#collapseTwo2" aria-expanded="false" aria-controls="collapseTwo2">
                    澳洲商务团2
                    </a>
                </h5>
                </div>
                <div id="collapseTwo2" class="collapse" role="tabpanel" aria-labelledby="headingTwo">
                    <div class="card-block">
                        <ul class="list-unstyled">
                            <li>
                                <span>DAY1</span>
                                <span>飞往墨尔本，开启游学之旅</span>
                            </li>
                            <li>
                                <span>DAY2</span>
                                <span>墨尔本艺术熏陶一日游</span>
                            </li>
                            <li>
                                <span>DAY3</span>
                                <span>学校考察之旅，前往精英中学和澳洲著名大学进行实地考察</span>
                            </li>
                            <li>
                                <span>DAY4</span>
                                <span>高尔夫之旅，体验在绿茵场上挥杆的爽快感觉</span>
                            </li>
                            <li>
                                <span>DAY5</span>
                                <span>商业投资VIP讲座体验，零距离无阻碍的了解澳洲的移民文化，投资项目以及投资注意点的知识普及</span>
                            </li>
                            <li>
                                <span>DAY6</span>
                                <span>置业投资考察之旅，前往墨尔本极大具有投资潜力的区域进行考察</span>
                            </li>
                            <li>
                                <span>DAY7</span>
                                <span>前往著名的雅拉河谷酒庄，体验酒香的魅力和澳洲的酒业文化</span>
                            </li>
                            <li>
                                <span>DAY8</span>
                                <span>大洋路一日游</span>
                            </li>
                            <li>
                                <span>DAY9</span>
                                <span>菲利普岛观看小企鹅，沿路经过巧克力工厂，考验孩子动手制作巧克力的能力</span>
                            </li>
                            <li>
                                <span>DAY10</span>
                                <span>墨尔本 — 悉尼， 参观悉尼著名景点</span>
                            </li>
                            <li>
                                <span>DAY11</span>
                                <span>蓝山一日游</span>
                            </li>
                            <li>
                                <span>DAY12</span>
                                <span>自由购物，返回中国</span>
                            </li>
                        </ul>	
                    </div>
                </div>
            </div>                       
        </div>
        <footer>
            <p>如有子女同行，可安排当地学校学习</p>
            <p>提供线路定制服务，为企业、学校定制商业考察团、校园游学团线路，欢迎致电咨询</p>
        </footer>
    </section>
    <section id="features">
        <h4>游学特色项目</h4>
        <div class="card">
            <img src="/static/xhd/horse.jpg" alt="Card image">
            <div class="card-block">
                <h6 class="card-title">马术运动</h4>
                <p class="card-text small">接触传统贵族运动，强身健体，提升沟通能力、抗压能力、学习能力。</p>         
            </div>
        </div>
        <div class="card">
            <img src="/static/xhd/tennis.jpg" alt="Card image">
            <div class="card-block">
                <h6 class="card-title">网球运动</h4>
                <p class="card-text small">针对青少年网球爱好者配备强大的顾问和专业教练团队，亲身感受澳网的魅力。</p>         
            </div>
        </div>
        <div class="card">
            <img src="/static/xhd/golf.jpg" alt="Card image">
            <div class="card-block">
                <h6 class="card-title">高尔夫运动</h4>
                <p class="card-text small">化身小小“CEO”，培养身体柔韧性和协调性，提升社交能力。</p>         
            </div>
        </div>
    </section>
    <section id="grid">
    </section>
    <section id="qa">
        <h4><i class="fa fa-question-circle-o" style="color:#677077" aria-hidden="true"></i>游学常见问题与回答</h4>
        <ul class="list-group">
            <li class="list-group-item list-group-item-action">
                <span>
                    1）如何保障孩子出行期间的安全？
                </span><br/>
                <span>
                    答：行程各环节对接、境外医疗意外保险、领队老师全程监护、24小时紧急联系人等四大措施全方位保障你的游学安全。
                </span>
            </li>
            <li class="list-group-item list-group-item-action">
                <span>
                    2）游学的孩子出国一般需要带多少钱？
                </span><br/>
                <span>
                    答：一般情况下，游学团费已经包含绝大部分费用，学生在境外自费项目很有限。我们建议学生将人民币兑换为当地流通的货币500-600即可，
                    也可以准备Visa或Master卡等境外消费卡，因为境外刷卡很方便，同时也可以防止钱财丢失和遭盗窃等现象。
                </span>
            </li>
            <li class="list-group-item list-group-item-action">
                <span>
                    3）游学期间的学习内容大概是什么？
                </span><br/>
                <span>
                    答：游学期间的学习主要分英语课堂和网球、马术、高尔夫等培训项目，真实地感受当地的课堂氛围，提升学生综合能力
                </span>
            </li><li class="list-group-item list-group-item-action">
                <span>
                    4）酒店标准是什么样的？
                </span><br/>
                <span>
                    答：酒店标准3星级到4星级。
                </span>
            </li><li class="list-group-item list-group-item-action">
                <span>
                    5）签证通过情况？
                </span><br/>
                <span>
                    答：游学的签证率是所有签证中通过率最高的，所以只要您按要求及时准备和提供材料，大都没问题。（但是绝对不能说百分百通过）。
                </span>
            </li>
            <li class="list-group-item list-group-item-action">
                <span>
                    6）如何了解孩子在境外的游学情况？
                </span><br/>
                <span>
                    答：如果条件允许，学生可以带一部开通全球漫游的手机或者办理境外wifi，
                    对于没带手机的同学，我们会带他购买电话卡（费用另付），以方便和家长的联系。
                </span>
            </li>
            <li class="list-group-item list-group-item-action">
                <span>
                    7）拿到签证后，如何准备出发事宜？
                </span><br/>
                <span>
                    答：在每个团出发之前，我们都会组织同学以及家长召开出团说明会。
                    在会上，老师会详细讲解出国的注意事项，为学生签发保险单，安排与领队老师见面等。具体时间另行通知。
                </span>
            </li>
            <li class="list-group-item list-group-item-action">
                <span>
                    8）签证需要准备什么材料？
                </span><br/>
                <span>
                    答：报名成功后，会有负责签证的客户经理为您提供签证材料清单，向您讲解如何准备签证材料，实时跟进您的签证申请进度。
                </span>
            </li>
            <li class="list-group-item list-group-item-action">
                <span>
                    9）提前多长时间报名？
                </span><br/>
                <span>
                    答：国际游学涉及办理护照、准备材料、申请签证等众多环节，
                    另外各线路名额情况及报名情况也不同，因此建议至少提前3个月进行咨询，以确认报名情况。
                </span>
            </li>
            <li class="list-group-item list-group-item-action">
                <span>
                    10）报名一般何时截止？
                </span><br/>
                <span>
                    答：每团名额有限，团满就要截止。同时要考虑到各国领馆的签证时间，建议尽早报名。
                </span>
            </li>
        </ul>
    </section>
<script>
    $('.carousel').carousel({
  interval: 3000
})
</script>
</body>
</html>